body {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 400px;
  margin: 100px auto;
}

#app h1 {
  font-size: 24px;
  padding-bottom: 12px;
  border-bottom: 1px solid #555555;
}

#app ul {
  padding: 0;
  list-style: none;
}

#app li {
  line-height: 2;
}

#app li > span.done {
  text-decoration: line-through;
  color: #bbb;
}

#app input[type="text"] {
  padding: 2px;
}

.cmd {
  color: red;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.info {
  color: gray;
  font-size: 14px;
  font-weight: normal;
}