<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>My Vue App</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
</head>
<body>

  <div id="app" class="container">
    <h1>My Todos</h1>
    <ul>
      <li v-for="(todo, index) in todos">
        <input type="checkbox" v-model="todo.isDone">
        
        <!-- <span v-bind:class="{done: todo.isDone}">{{ todo.title }}</span> -->
        <!-- v-bind もよく使われるため、以下のように省略可能-->
        <span :class="{done: todo.isDone}">{{ todo.title }}</span>
        <!-- todo の isDone が true の場合に done クラスを付ける -->

        <span @click="deleteItem(index)" class="cmd">[x]</span>
      </li>
    </ul>

    <!-- <form v-on:submit="addItem"> v-on はよく使うため @ で省略できる-->
    <!-- .prevent で submit 後の画面遷移を防ぐ-->
    <form @submit.prevent="addItem">
      <input type="text" v-model="newItem">
      <input type="submit" value="Add">
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="js/main.js"></script>
</body>
</html>